<p>Login</p>

<p>
  <a routerLink="/messages">Messages</a>
</p>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="email">Email</label>
    <input id="email" type="text" [formControlName]="['email']">
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" [formControlName]="['password']">
  </div>

  <!-- for test -->
  <!-- <div>
    <label for="uid">User ID</label>
    <input id="uid" type="text" [formControlName]="['uid']">
  </div> -->
  <!-- for test -->
  <!-- <div>
    <label for="nickname">Nick Name</label>
    <input id="nickname" type="text" [formControlName]="['nickname']">
  </div> -->

  <button class="button" type="submit">Login</button>
</form>
